.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    & > * {
	margin: .5%;
    }

    @for $x from 1 to 13 {
	.colonne#($x) {
	    width: ($x / 12) * 100 -1%;
	}
    }
}
