@import 'header.css';

:root {
    --noir: #000000;
    --fg-color: #000000;
    --bg-color: #ffffff;

    --contourLettre: -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color), -1px 1px 0 var(--bg-color), 1px 1px var(--bg-color);
}

*, *::after, *::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* header.css */
@media screen and (min-width: 700px){
    
    #mainPicture{
	background-image: url("../img/Bordeaux-miroir.jpg");
	background-size:  cover;
	background-repeat:  no-repeat;
	max-width: 100%;
	height: 84vh;
	display: flex;
	justify-content: center;
	align-items: center;	
    }
    

    .burgerMenu{
	display: none;
    }
    
    nav{
	width: 80%;
    }
    
    .menu-nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
    }
    
    .menu-nav li{
	list-style-type: none;
	padding: 10px;
    }
    
    .menu-nav li a{
	text-decoration: none;
	/* font-size: 28px; */
	font-size: 1.75rem;
    }
}

